# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Virtual environment
venv/
env/